@using WebNoiBai.Common
@{
    var lstMenuParent = AppMenu.ListMenu.Where(x => x.ParentId == null).ToList();

    var routeValues = System.Web.HttpContext.Current.Request.RequestContext.RouteData.Values;
    string controller = (string)routeValues["controller"];
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @foreach (var item in lstMenuParent)
        {
            var lstChild = AppMenu.ListMenu.Where(x => x.ParentId == item.Id).ToList();
            if (item.Type == 0)
            {
                <li class="nav-item has-treeview @(lstChild.Where(x=>x.Controller == controller).Any() ? "menu-open" : "") ">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon @item.Icon"></i> <p>@item.ControllerName<i class="right fa fa-angle-left"></i></p>
                    </a>

                    <ul class="nav nav-treeview">
                        @foreach (var child in lstChild)
                        {
                            <li class="nav-item" title="@child.ControllerName">
                                <a href="/@child.Controller" class="nav-link">
                                    <p style="padding-left: 26px;line-height: 18px">@child.ControllerName</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="/@item.Controller" class="nav-link">
                        <i class="nav-icon @item.Icon"></i>
                        <p>
                            @item.ControllerName
                        </p>
                    </a>
                </li>
            }
        }
    </ul>
</nav>