@using WebNoiBai.Dto.HanhKhach
@{
    ViewBag.Title = "Danh sách cảnh báo";
}

<div class="mx-ecus">
    <div class="card">
        <div class="card-header">
            <div class="card-title bold">@ViewBag.Title</div>
            <div class="card-right">
                <button class="btn btn-success" id="btn-export" type="button"><i class="fa fa-file-excel"></i><span class="ml8">Export Excel</span></button>
            </div>
        </div>
        <div class="card-body" style="max-height: 929px;">
            <div class="frame-header">
                <div class="frame-search">
                    Từ ngày&nbsp;
                    <div class="inline-block input-group is_Datetimepicker">
                        <input name="StartDate" placeholder="dd/mm/yyyy" class="wid100px item-search input-date form-control-sm" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <span class="input-group-addon cursor">
                            <span class="icon-calendar-ico-tsd"></span>
                        </span>
                    </div>
                    &nbsp;đến&nbsp;
                    <div class="inline-block input-group is_Datetimepicker">
                        <input name="EndDate" placeholder="dd/mm/yyyy" class="wid100px item-search input-date form-control-sm" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <span class="input-group-addon cursor">
                            <span class="icon-calendar-ico-tsd"></span>
                        </span>
                    </div>
                    <select name="ObjectType" class="item-search wid200px">
                        <option value="">--Tất cả loại--</option>
                        <option value="@DoiTuongType.DiLaiNhieu">Hành khách đi lại nhiều</option>
                        <option value="@DoiTuongType.TrongDiem">Đối tượng trọng điểm</option>
                        <option value="@DoiTuongType.DaKiemTra">Đối tượng đã kiểm tra</option>
                        <option value="@DoiTuongType.HanhKhachVIP">Hành khách VIP</option>
                        <option value="@DoiTuongType.HuongDanVien">Hướng dẫn viên</option>
                        <option value="@DoiTuongType.TheoDoi">Đối tượng theo dõi</option>
                        <option value="@DoiTuongType.TheoDoiDacBiet">Đối tượng theo dõi đặc biệt</option>
                    </select>
                    <input class="item-search wid200px" autocomplete="off" name="SoGiayTo" placeholder="Số giấy tờ" />
                    <input class="item-search wid200px" autocomplete="off" name="SoHieu" placeholder="Số hiệu chuyến bay" />
                    <button class="btn btn-secondary" style="height:38px;" id="btn-extend-search" type="button" data-bs-toggle="modal" data-bs-target="#SearchModal"><i class="far fa-filter"></i>&nbsp;Nâng cao&nbsp;<span class="badge">0</span></button>
                    <button class="btn btn-primary btnSearch" type="button"><i class="icon-search-ico-tsd"></i></button>
                </div>
            </div>
            <div class="frame-body has-scroll">
                <table class="width100" id="TBLDANHSACH">
                    <thead>
                        <tr>
                            <th class="text-center width75px">STT</th>
                            <th class="text-center">Số hiệu chuyến bay</th>
                            <th class="text-center">Ngày bay</th>
                            <th class="text-center">Họ tên</th>
                            <th class="text-center">Quốc tịch</th>
                            <th class="text-center">Số giấy tờ</th>
                            <th class="text-center">Ngày sinh</th>
                            <th class="text-center">Điểm xuất phát đầu tiên</th>
                            <th class="text-center">Mã sân bay khởi hành</th>
                            <th class="text-center">Mã sân bay đến</th>
                            <th class="text-center">Điểm kết thúc</th>
                            <th class="text-center">Hành lý</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame-footer">
                @Html.Partial("_PaginationPartial")
            </div>
        </div>
    </div>
</div>

<div class="modal modal-edit left fade" id="SearchModal" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="true" aria-bs-hidden="true" data-bs-backdrop="static" style="padding-top: 42px !important;">
    <div class="modal-dialog modal-sm modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Tìm kiếm nâng cao
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="icon-close-ico-tsd"></i>
                </button>
            </div>
            <div class="modal-body" style="background-color: #FBFBFB">
                <div class="modal-body-content" style="padding: 16px; background-color: #FFFFFF;height: 100%;">

                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Họ tên
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="HoTen" placeholder="Họ tên" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Quốc tịch
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="QuocTich" placeholder="Quốc tịch" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Điểm xuất phát đầu tiên
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="NoiDi" placeholder="Mã sân bay" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Mã sân bay khởi hành
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="MaNoiDi" placeholder="Mã sân bay" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Mã sân bay đến
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="MaNoiDen" placeholder="Mã sân bay" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Điểm kết thúc
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="NoiDen" placeholder="Mã sân bay" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i><span class="ml8">&nbsp;Đóng</span></button>
                <button type="button" class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i><span class="ml8">&nbsp;Tìm kiếm</span></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var $header = $('.frame-search');
        const $footer = $('.frame-footer');
        const $table = $('#TBLDANHSACH');
        const $tableBody = $table.find('tbody');
        const $modal = $('#CHITIET');
        const $modalUser = $('#UserRole');
        const $router = "DCanhBao";
        const $form = $('#ModalForm');


        function DataSearch(pageNum) {
            this.StartDate = formatDateFromClientToServerEN($header.find('[name=StartDate]').val());
            this.EndDate = formatDateFromClientToServerEN($header.find('[name=EndDate]').val());
            this.SoGiayTo = $header.find('[name=SoGiayTo]').val();
            this.SoHieu = $header.find('[name=SoHieu]').val();
            this.ObjectType = $header.find('[name=ObjectType]').val();
            this.PageNum = pageNum || $footer.find('[name=PageNumber]').val();
            this.PageSize = $footer.find('[name=PageLength]').val();
        }

        $(function () {
            var $page = {
                init: function () {
                    $page.BtnSearchClick();
                    $page.BtnExportClick();
                    $page.GetList(1);
                },
                Self: $('.card'),
                BtnSearchClick: function () {
                    $header.find('.btnSearch').on('click', function () { $page.GetList(1); });
                },
                BtnExportClick: function () {
                    $page.Self.find('#btn-export').on('click', function () {

                        let search = new DataSearch(1);

                        var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/ExportExcel`, "GET", search);
                        getResponse.then((res) => {
                            if (res.IsOk) {
                                let fileGuid = res.Body.Data.FileGuid;
                                let fileName = res.Body.Data.FileName;
                                window.open(`/${$router}/Download?fileGuid=${fileGuid}&fileName=${fileName}`);
                            }
                        })
                    });
                },
                GetList: function (pageNum = 1) {

                    let html = '';
                    let search = new DataSearch(pageNum);
                    search = $searchModal.getDataSearch(search);

                    var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/GetTable`, "GET", search);
                    getResponse.then((res) => {
                        if (res.IsOk) {
                            let data = res.Body.Data || [];

                            if (data.length == 0) {
                                html = `<tr><td class="text-center" colspan="12"><span>Không có bản ghi</span></td></tr>`;
                                $tableBody.html(html);
                                return false;
                            }

                            let startIndex = res.Body.Pagination.StartIndex || 1;
                            for (let item of data) {
                                html += `<tr class="TR_${item.SoGiayTo}">` +
                                    `<td class="text-center"><span>${startIndex}</span></td>` +
                                    `<td class="text-center">${item.SoHieu}</td>` +
                                    `<td class="text-center">${formatDateFromServer(item.NgayBay)}</td>` +
                                    `<td class="">${item.HoTen}</td>` +
                                    `<td class="text-center">${item.QuocTich}</td>` +
                                    `<td class="">${item.SoGiayTo}</td>` +
                                    `<td class="text-center">${formatDateFromServer(item.NgaySinh)}</td>` +
                                    `<td class="text-center">${item.NoiDi || ''}</td>` +
                                    `<td class="text-center">${item.MaNoiDi || ''}</td>` +
                                    `<td class="text-center">${item.MaNoiDen || ''}</td>` +
                                    `<td class="text-center">${item.NoiDen || ''}</td>` +
                                    `<td class="">${item.HanhLy || ''}</td>` +
                                    `</tr>`;
                                startIndex++;
                            }
                            $tableBody.html(html);

                            $pagination.Set($footer, res.Body.Pagination, $page.GetList);

                            $page.AddWarning();
                        }
                        else {

                        }
                    })
                },
                
            };

            var $searchModal = {
                init: function () {
                    $searchModal.closeModal();
                    $searchModal.btnSearchClick();
                },
                Self: $('#SearchModal'),
                closeModal: function () {
                    $searchModal.Self.on('hidden.modal.bs', function () {
                        let badge = 0;
                        $searchModal.Self.find('input, select').each(function (i, e) {
                            let name = e.name;
                            let value = $(e).val() || '';
                            if (e.type == 'checkbox') {
                                value = $(e).is(':checked');
                            }
                            if (value != '' && value != false) {
                                badge = badge + 1;
                            }
                        })
                        $page.Self.find('.badge').text(badge);
                    })
                },
                btnSearchClick: function () {
                    $searchModal.Self.find('#btn-search').off('click').on('click', function () {
                        $searchModal.Self.modal('hide');
                        $page.GetList(1);
                    })
                },
                getDataSearch: function (dataSearch) {
                    $searchModal.Self.find('input, select').each(function (i, e) {
                        let name = e.name;
                        let value = $(e).val() || '';
                        if (e.type == 'checkbox') {
                            value = $(e).is(':checked');
                        }
                        dataSearch[name] = value;
                    })
                    return dataSearch;
                }
            }

            $page.init();
            $searchModal.init();

        });

    </script>
}